server:
  port: 8085

spring:
  application:
    name: analytics-service
  kafka:
    bootstrap-servers: localhost:9092
    streams:
      application-id: analytics-service
      properties:
        default.key.serde: org.apache.kafka.common.serialization.Serdes$StringSerde
        default.value.serde: org.apache.kafka.common.serialization.Serdes$StringSerde

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
