server:
  port: 8084

spring:
  application:
    name: conference-query-service
  datasource:
    url: jdbc:mysql://localhost:3306/conference_db
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

axon:
  axonserver:
    servers: localhost:8124

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
